*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    float: left;
    width: 100%;
}
.container{
    float: none;
    width: 1170px;
    margin: 0 auto;
}
.content{
    float:left;
    width: calc(66.67% - 15px);
    background-color: white;
    margin-right: 15px;
    padding: 40px;
}
.sidebar{
    float:left;
    width: 33.33%;
}
.header{
    background-color: #ffffff;
    border-bottom: 1px solid gray;
    padding: 20px 0;
}
.logo{
    float: left;
    width: 35%;
}
.toplinks{
    float: right;
    width: 50%;
}
.logo a{
    font-size: 28px;
    color: #222222;
    text-decoration: none;
    font-weight: 700;
}
.logo p{
    font-size: 18px;
    color: gray;
}
.toplinks ul{
    float: right;
}
.toplinks li{
    float: left;
    list-style: none;
    margin-left: 20px;
}
.toplinks a{
    font-size: 14px;
    color: #222222;
    font-weight: 600;
    text-decoration: none;
    line-height: 70px;
}
.menu li{
    float: left;
    list-style: none;
    margin-left: 30px;
}
.menu li.last{
    float: right;
    margin-right: 0;
}
.menu a{
    font-size: 15px;
    color: #222222;
    font-weight: 600;
    text-decoration: none;
}
.nav{
    background-color: white;
    padding: 20px 0;
    border-bottom: 1px solid black;
}
.sidebar{
    float: left;
    width: calc(33,33%-15px);
    margin-left: 15px;
}
.main{
    margin-top: 30px;
}