*
{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}
.section.header
{
    background-color: #343a40;
}
/* begin-menu */
.navbar-brand
{
    padding: 0 5%;
    font-weight: 500;
    font-size: 30px;
}
a.nav-link {
    display: block;
    margin: 0 6px;
    text-decoration: none;
    font-weight: 500;
}
/* end-menu */






/*begin block*/
/*.section-header{*/
/*    background-image: url('../imgs/fashion.jpg');*/
/*    background-size: 1028px;*/
/*    height: 600px;*/
/*    width: 900px;*/
/*}*/
img{
   /*max-width: 1028px;*/
    width: 100%;
    height: auto;
    object-fit: cover;
}

.header{
    position: relative;
}
.bottom-right{
    position: absolute;
    bottom: 8px;
    right: 16px;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: bold;
    color: black;
}

.container img{
    display: block;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

}
.artical{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    margin-top: 50px;
    margin-bottom: 50px;
}

.artical p{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
    margin-top: 10px;
}

.post h1{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.post h2{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.continue-reading a{
    font-weight: bold;
    color: grey;
    text-transform: uppercase;
    text-decoration: none;

}
.continue-reading a:hover i{
    margin-left: 20px;
    opacity: 0;
}
.continue-reading i{
    transition: all 300ms;

}
.post img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/*end block*/






/* begin footer */
.footer-container
{
    width: 100%;
    margin: 0 auto;
    background-color: #2b2b2b;
}
._1khoi
{
    padding: 5% 22%;
    text-align: center;
}
._1khoi h1
{
    font-size: 60px;
    letter-spacing: 10px;
    color: #ffffffe1;
}
._1khoi ul
{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;

}
._1khoi ul li
{
    margin: 3% 0;
    padding: 0% 3%;
    border-right: 1px solid #ffffffbf;
}
._1khoi ul li:nth-child(7)
{
    border-right: none
}
._1khoi ul li a
{
    text-decoration: none;
    font-weight: 500;
    color: #ffffffcc;
    transition: 0.4s;
}
._1khoi ul li a:hover
{
    color: white;
}
._1khoi .icon a i
{
    padding-right: 2%;
    color: #ffffffe1;
    transition: 0.4s;
}
._1khoi .icon a i:hover
{
    color: gray;
}
.block-bottom
{
    background-color: #252525;
    text-align: center;
}
.block-bottom p
{
    line-height: 60px;
    color: #ffffffe1;
    font-size: 14px;
}
.block-bottom p span
{
    font-weight: bold;
    color: white;
}
/* end footer */

@media only screen and (max-width: 992px)
{
    .menu-left
    {
        display: none;
    }
    .navbar-brand
    {
        padding: 0;
    }
    ._1khoi ul li
    {
        border: none;
    }
}
@media only screen and (max-width: 1520px)
{
    .banner-top
    {
        min-height: 65.3522vh;
    }
    .background-2 .image-logo
    {
        width: 45%;
    }
    .background-2-block p
    {
        font-size: 20px;
    }
}
@media only screen and (max-width: 1140px)
{
    .banner-top
    {
        min-height: 50.3522vh;
    }
    .banner-top-block h1
    {
        font-size: 35px;
    }
    .background-2 .image-logo
    {
        width: 45%;
    }
    .background-2-block p
    {
        font-size: 20px;
    }
    @media only screen and (max-width: 960px)
    {
        .banner-top
        {
            min-height: 37.3522vh;
        }
        .banner-top-block h1
        {
            font-size: 30px;
        }
        .banner-top-block h4
        {
            font-size: 20px;
        }
        .background-2-block p
        {
            font-size: 15px;
        }
    }
    @media only screen and (max-width: 720px)
    {
        .banner-top
        {
            min-height: 35.3522vh;
        }
        .banner-top-block h1
        {
            font-size: 25px;
        }
        .banner-top-block h4
        {
            font-size: 15px;
        }
    }
    @media only screen and (max-width: 540px)
    {
        .banner-top
        {
            min-height: 30.3522vh;
        }
        .banner-top-block h1
        {
            font-size: 20px;
        }
        .banner-top-block h4
        {
            font-size: 10px;
        }
        .banner-top-block a
        {
            font-size: 10px;
        }
        .background-2-left-block
        {
            width: 100%;
        }
        .background-2-left-block img
        {
            width: 100%;
        }
    }




